In [2]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [3]:
data=pd.read_csv('insurance_data.csv')
data

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [4]:
x=data.drop('bought_insurance',axis=1)
y=data['bought_insurance']

In [5]:
x

    age
0    22
1    25
2    47
3    52
4    46
5    56
6    55
7    60
8    62
9    61
10   18
11   28
12   27
13   29
14   49
15   55
16   25
17   58
18   19
19   18
20   21
21   26
22   40
23   45
24   50
25   54
26   23

In [6]:
y

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
Name: bought_insurance, dtype: int64

In [7]:
svc_model=SVC()

In [11]:
gsvc=GridSearchCV(svc_model,{'gamma':['auto','scale'],'C':[1,2,10,20], 
                             'kernel':['linear','rbf','sigmoid','poly']},cv=5,return_train_score=True)

In [12]:
gsvc.fit(x,y)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 2, 10, 20], 'gamma': ['auto', 'scale'],
                         'kernel': ['linear', 'rbf', 'sigmoid', 'poly']},
             return_train_score=True)

In [14]:
model_params={'logistic_regression':{'model':LogisticRegression(),'params':{'C':[1,5,10]}},
             'knn':{'model':KNeighborsClassifier(),'params':{'n_neighbors':[1,5,10]}},
              'random_forest':{'model':RandomForestClassifier(),'params':{'n_estimators':[1,5,10]}},
              'svm':{'model':SVC(gamma='auto'),'params':{'C':[1,5,10],'kernel':['rbf','linear']}}}

In [16]:
scores=[]
models=['logistic_regression','knn','random_forest','svm']
for model_name in models:
    mp=model_params[model_name]
    gds=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=True)
    gds.fit(x,y)
    scores.append({'model':model_name,'best_score':gds.best_score_,'best_params':gds.best_params_})

In [17]:
scores

[{'model': 'logistic_regression',
  'best_score': 0.8533333333333335,
  'best_params': {'C': 1}},
 {'model': 'knn',
  'best_score': 0.8933333333333333,
  'best_params': {'n_neighbors': 5}},
 {'model': 'random_forest',
  'best_score': 0.8533333333333333,
  'best_params': {'n_estimators': 5}},
 {'model': 'svm',
  'best_score': 0.8933333333333333,
  'best_params': {'C': 1, 'kernel': 'linear'}}]